.slotholder{
	&:before{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		background: rgba(0, 0, 0, 0.5);
	}
}

#home-media{
	// top: -150px;
	// margin-bottom: -150px;
	@media screen and (max-width: 767px){
		top: 0;
		margin-bottom: 0;
	}
}

// ********************************************
// 	-	SETTINGS FOR BANNER CONTAINERS	-
// *********************************************

.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;
}

.tp-banner{
	width:100%;
	position:relative;
}

.tp-caption.tp-headline{
	color: #fff;
	font-family: $mt;
	font-size: 3.3em;// !important;
	font-weight: 700;
	text-transform: uppercase;
}
.tp-caption.tp-headline-2{
	color: #fff;
	font-family: $mt;
	font-size: 4.3em;// !important;
	font-weight: 700;
	text-transform: uppercase;
}
.tp-caption.tp-headline-3{
	color: #fff;
	font-family: $pd;
	font-style: italic;
	font-size: 1.7em;// !important;
	letter-spacing: 2px;
}
.tp-caption.tp-description{
	color: #fff;
	font-family: $rw;
	font-size: 1.2em;// !important;
}

//***********
.tp-bullets.simplebullets{
	bottom: 50px !important;
}
.tp-bullets.simplebullets .bullet {
	float:none !important;
    cursor: pointer;
    position: relative !important;
    background: rgba(255, 255, 255, 0.3) !important;
    width: 10px !important;
    height: 10px !important;
    border: 0 !important;
    display: inline-block;
    margin-right: 20px !important;
    // margin-bottom: 14px !important;
    @include rounded(15px);
    @include box-shadow(0 0 0);
    @include transition;
}
.tp-bullets.simplebullets .bullet.last {
    margin-right: 0px !important;
}
.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected {
    @include box-shadow(0 0 0);
	background: rgba(255, 255, 255, 1) !important;
	width: 10px !important;
    height: 10px !important;
    border: 0px !important;
    &:before{
    	background-color: transparent;
    	position: absolute;
    	content: '';
    	width: 20px;
    	height: 20px;
    	left: -5px;
    	top: -5px;
    	border: 1px solid #fff;
    	@include rounded(15px);
    }
}

//************
.tparrows {
	background: rgba(0, 0, 0, 0.5) !important;
	width: 50px !important;
	height: 50px !important;
	// top: auto !important;
	@include rounded(0);
	&:hover{
		&.default{
			&:after{
				background-color: #111;
				color: #fff;
			}
		}
	}
}

.tparrows.default:after {
	color: #444;
	background-color: #fff;
	font-size: 25px;
	position: absolute;
	width: 100%;
	line-height: 50px;
	text-align:center;
	font-family: 'FontAwesome';
	@include transition;
}

.tp-rightarrow.tparrows.default:after { content: '\f105'; }
.tp-leftarrow.tparrows.default:after { content: '\f104'; }