// .bd-t{
// 	border-top: 1px solid #efefef;
// }
.bd-b{
	border-bottom: 1px solid #eee;
}
.bd-b-bold{
	border-bottom: 1px solid #ddd;
}
.bd-b-alpha{
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
// .bd-l{
// 	border-left: 1px solid #efefef;
// }
// .bd-r{
// 	border-right: 1px solid #efefef;
// }
.bd-b0{
	border-bottom: none !important;
}