input, textarea {
    @include rounded(0);
    font-family: $mt;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 0 20px;
    color: #444;
    font-size: 0.9em;
    font-weight: 400;
    width: 100%;
    letter-spacing: 1px;
    // margin-bottom: 30px;
    &:focus{
        border: 1px solid #444;
    }
}
input{
    // border-right: 0;
    height: 50px;
    &.black{
        border: 1px solid #333;
        font-size: 13px;
        background-color: #222;
        color: #fff;
        &:focus{
            border: 1px solid #fff;
        }
    }
}
textarea {
    resize: none;
    height: 150px;
    vertical-align: middle;
    padding: 20px;
    margin-bottom: 30px;
}
input::-webkit-input-placeholder {
    color: #888;
    font-weight: 400;
}
input:-moz-placeholder {
    color: #888;
    font-weight: 400;
}
input::-moz-placeholder {
    color: #888;
    font-weight: 400;
}
input:-ms-input-placeholder {
    color: #888;
    font-weight: 400;
}
textarea::-webkit-input-placeholder {
    color: #888;
    font-weight: 400;
}
textarea:-moz-placeholder {
    color: #888;
    font-weight: 400;
}
textarea::-moz-placeholder {
    color: #888;
    font-weight: 400;
}
textarea:-ms-input-placeholder {
    color: #888;
    font-weight: 400;
}

// input[type="search"],
// input[type="text"],
// input[type="url"],
// input[type="number"],
// input[type="password"],
// input[type="email"],
// input[type="file"]
// input{
//     @include appearance;
// }
input[type="checkbox"],
input[type="radio"]{
    width: auto;
    height: auto;
    vertical-align: middle;
    + label{
        font-weight: 400;
        font-family: $rw;
        font-size: 13px;
        line-height: 1em;
        vertical-align: middle;
    }
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    @include appearance;
    margin: 0;
}
input[type=number] {
    @include appearance(textfield);
}

form{
    // Col2 input
    .group{
        position: relative;
        .group-item{
            width: 50%;
            float: left;
            &:nth-child(2n){
                padding-left: 15px;
            }
            &:nth-child(2n + 1){
                padding-right: 15px;
            }
        }
        @media screen and (max-width: 767px){
            .group-item{
                width: 100%;
                &:nth-child(2n){
                    padding-left: 0;
                }
                &:nth-child(2n + 1){
                    padding-right: 0;
                }
            }
        }
    }

    // Input group
    .input-group{
        .input-group-btn,
        .input-group-addon{
            background-color: #f9f9f9;
            border: 1px solid #ddd;
        }
        input{
            border-right: 0;
            margin-bottom: 0;
            &:focus{
                + .input-group-btn,
                + .input-group-addon{
                    border-color: #444;
                }
            }
        }
        .input-group-btn{
            border-left: 0;
            .btn{
                background-color: transparent;
                padding: 0 10px;
                i{
                    margin-right: 0;
                }
            }
        }
        .input-group-addon{
            border-left: 0;
            @include rounded(0);
        }
    }
}