ol, ul {
    // list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
    font-family: $mt;
    li{
		font-size: 14px;
		line-height: 2.3em;
		a{
			color: inherit;
			&:hover{
				text-decoration: none;
				color: $color;
			}
		}
	}
}
ul{
	&.list-style{
		padding-left: 0;
		list-style: none;
		li{
			position: relative;
			padding-left: 20px;
			&:before{
				content: '\f105';
				font-family: 'FontAwesome';
				color: $color;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
}

table { margin: 1px; }
// th { border-bottom: 1px solid #333;  font-weight: 700; }
// td { border-bottom: 1px solid #333; }
// th, td { padding: 4px 10px 4px 0; }
caption { background: #fff; margin-bottom: 2em; text-align: left; }
thead { display: table-header-group; }
tr { page-break-inside: avoid; }


.table-responsive{
	overflow-x: visible;
}
// table.table-pradise{
// 	text-align: center;
// 	table-layout: fixed;
// 	@media screen and (max-width: 767px){
// 		table-layout: auto;
// 	}
// 	thead{
// 		font-family: $pd;
// 		letter-spacing: 3px;
// 		th{
// 			text-align: center;
// 			text-transform: uppercase;
// 			font-size: 12px;
// 			font-weight: 300;
// 			background-color: #191919;
// 			color: #fff;
// 			border-bottom: 0;
// 			padding: 14px 8px;
// 			border-right: 1px solid #4f4f4f;
// 			&:last-child{
// 				border-right: 0;
// 			}
// 		}
// 	}
// 	tbody{
// 		tr{
// 			&:nth-child(odd){
// 				background-color: #f8f8f8;
// 			}
// 			&:nth-child(even){
// 				background-color: #efefef;
// 			}
// 			td{
// 				border-top: 0;
// 				border-bottom: 0;
// 				padding: 14px 8px;
// 				border-right: 1px solid #e2e2e2;
// 				&:last-child{
// 					border-right: 0;
// 				}
// 			}
// 		}
// 	}
// }